body {
  margin: 0;
}

.Captain {
  width: 400px;
  border: 2px solid black;
}

.infoColumn {
  width: 400px;
  float: left;
  margin: 20px 0 0 20px;
  text-align: center;
  position: absolute;
  top: 20px;
}

.infoColumn img {
  width: 400px;
  float: left;
}

.all {
  width: 200px;
  float: right;
  margin: 0 0 0 20px;
  padding: 0 0 0 0;
  text-align: center;
}

.alltwo {
  width: 200px;
  margin: 20px 0 0 0;
  padding: 0 0 0 0;
  float: left;
  border: 2px solid gray;

}

.rightbox {
  width: 880px;
  height: 1200px;
  float: right;
  padding: 0 120px 0 0;

}

.righttextevent {
  width: 880px;
  height: 400px;
  float: right;
  padding: 0 120px 0 0;

}

.header {
  width: 100%;
  height: 200px;
  background-color: #2C3E50;
}

.eventstitle {
  margin: -20px 0 0 460px;
  padding: 40px 0 0 0;
}

.characters {
  float: left;
  margin: 0 0 0 0;
  padding: 20px 0 0 20px;
  color: black;
  text-decoration: none;
}

.character {
  width: 200px;
  float: left;
}

.charactertext {
  margin: -20px 0 0 460px;
  padding: 40px 0 0 0;
}
